In [31]:
#importing the necessary libraries
import pandas as pd 
import pyspark as ps

In [32]:
# this method to read our data from execl file instead of csv files.
data = pd.read_excel('./data.xlsx')
data.to_csv('./data.csv', index=False)

In [33]:
data.head()

        Name  Age  Experience
0      Ahmed   27          10
1  Abdelaziz   23          20
2       Eman   30           5

* When we need  to deal with pyspark, we must start a work session

In [34]:
from pyspark.sql import SparkSession

In [35]:
spark = SparkSession.builder.appName('data_processing').getOrCreate() # this either get a currently running session, or create a new one.

In [36]:
spark

In [37]:
# now lets try to read the data in spark
# header allows me to get the first row as the header of my table instead of the default column names in the excel sheets which are A, B and so on.
df_pyspark = spark.read.csv('./data.csv', header=True, inferSchema=True)

In [38]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Ahmed| 27|        10|
|Abdelaziz| 23|        20|
|     Eman| 30|         5|
+---------+---+----------+

In [39]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [40]:
df_pyspark.head(3)

[Row(Name='Ahmed', Age=27, Experience=10),
 Row(Name='Abdelaziz', Age=23, Experience=20),
 Row(Name='Eman', Age=30, Experience=5)]

In [41]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
# so this is to just be familiar with the basics of pyspark, lets create another notebook, and start working